<div>
    <div class="container" id="main">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-star"></span>
                    </button>
                    <span class="navbar-brand">Slideshows</span>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                    <ul class="nav navbar-nav">
                        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
                        <li>{{#link-to 'slides'}}Slides{{/link-to}}</li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row">
            <div>
                <div class="col-md-3">
                    <div class="well sidebar-nav">
                        <strong>Slides</strong>

                        <ul class="list-group">
                            {{#each model}}
                                {{#link-to 'slide' this}}<li class="list-group-item">{{this.title}}</li>{{/link-to}}
                            {{/each}}
                            {{ log model}}
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>
